  
  .card > .img-container {
    margin-bottom: 20px;
  }
  
  
  .card > .img-container > img {
    width: 200px;
    height: 200px;
    margin: 0 auto;

  }

  .img {
    border-radius: 2px;
    margin: 5px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  

  